@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 5px;
  background: #fff;
  border: 0;
  cursor: pointer;
  display: inline-block;
}

#header {
  height: 100vh;
  background-image: url("../img/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#header .container {
  width: 40%;
  position: absolute;
  top: 160px;
  right: 150px;
  text-align: right;
}
#header .container h1 {
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
}
#header .container p {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  width: 90%;
  margin-left: 10%;
  color: #fff;
  line-height: 26px;
}
#header .container .btn-primary {
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
#header .btn-primary span,
#plan .btn-primary span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #2129309d;
  border-radius: 4px;
  transition: 0.5s;
  z-index: -1;
}
#header .btn-primary:hover span,
#plan .btn-primary:hover span {
  width: 100%;
}
#header .btn-primary:hover,
#plan .btn-primary:hover {
  color: #fff;
}

/* failure section  */

#failure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 150px;
}
#failure ul {
  margin-top: 15px;
}
#failure ul li {
  list-style: none;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 8px;
}
.failure-right {
  margin-left: 130px;
}
.failure-right .fa-check {
  color: #16d887;
  margin-right: 10px;
}
.failure-left img {
  width: 450px;
}
.failure-right h2 {
  color: var(--dark-01, #151414);
  font-size: 40px;
  font-weight: 700;
}
.failure-right p {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

/* plan section  */
#plan {
  padding: 140px;
  padding-top: 0;
}
.plan-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.plan-top h3 {
  color: #151414;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.plan-box {
  text-align: center;
}
.plan-box img {
  width: 90px;
}
.plan-box h2 {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 24px;
}
.plan-box p {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}
.plan-bottom {
  margin-top: 130px;
  padding: 60px 600px 145px 65px;
  max-width: 1140px;
  max-height: 300px;
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../img/watch.png");
  background-repeat: no-repeat;
  border-radius: 8px;
}
.plan-bottom h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.plan-bottom .btn-primary {
  margin-top: 24px;
  padding: 20px 35px;
  position: relative;
  z-index: 1;
}

/* footer section  */

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 130px;
  background-color: #151414;
  color: #fff;
}
.footer-left{
    width: 45%;
}
.footer-left h2 {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
}
.footer-left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}
.footer-left span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  display: block;
}
#footer .social-icons {
  margin-top: 32px;
}
#footer .social-icons img {
  margin-right: 10px;
  cursor: pointer;
}
#footer .social-icons img:hover {
  transform: rotate(10deg);
  transition: 0.3s;
}
.footer-right h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.footer-right input {
    background: #151414;
    padding: 20px;
    color: var(--dark-07, #F3F3F3);
    font-family: Work Sans;
    font-size: 18px;
    border: 0;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-top: 30px;
    width: 350px;
    display: block;
}
.footer-right input:focus{
    outline: none;
    border: 1px solid #005fac;
}
.footer-right .btn-primary{
    margin-top: 10px;
    background-color: #005fac;
    color: #fff;
    transition: .3s;
}
.footer-right .btn-primary:hover{
    color: #ffffffb7;
}